html
    head
        title Novo Natjecanje
    body
        div(style={'height':'80%', 'display':'flex', 'justify-content':'center'})
            div(style={'margin':'auto'})
                h1(style={'color':'darkcyan'}) Novo Natjecanje
                form(action="/", method="POST")
                    p
                        label(for="name") Naziv Natjecanja:
                        div
                        input(type="text", id="name", name="name", placeholder='Novo Natjecanje', style={'width':'100%'})

                    p
                        label(for="players") Natjecatelji (min 4, max 8):
                        div
                        input(type="text", name="players", placeholder='igrač1;igrač2;igrač3;igrač4', style={'width':'100%'})

                    p
                        label Sustav bodovanja:
                        div
                        label(for='win') pobjeda = 
                        input(type="number", id="win", name="win", style={'width':'4em', 'margin-right':'1em'}, step='0.5', placeholder='1')
                        label(for='draw') remi = 
                        input(type="number", id="draw", name="draw", style={'width':'4em', 'margin-right':'1em'}, step='0.5', placeholder='0,5')
                        label(for='lose') poraz = 
                        input(type="number", id="lose", name="lose", style={'width':'4em'}, step='0.5', placeholder='0')

                    br
                    button(type="submit", style={'color':'darkcyan'}) Stvori
                    a(href='/', style={'text-decoration':'none', 'color':'grey','margin-left':'1em'}) Povratak
                if error != null
                    div(style={'color':'darkred'}) Pogreška pri unosu! #{error}
                if error == null
                    div(style={'color':'white'}) .