html 
    head 
        title Moja Natjecanja 
    body
        div(style={'height':'80%', 'display':'flex', 'justify-content':'center'})
            div(style={'margin':'auto'})
                h1(style={'color':'darkcyan', 'margin-bottom':'0.1em'}) Moja Natjecanja
                p(style={'color':'grey', 'margin-top':'0.1em', 'margin-bottom':'3em'}) #{userInfo.user}
                if userInfo.tourneys.length == 0
                    div
                        span Trenutno nemate natjecanja.
                each tourney in userInfo.tourneys
                    div
                        a(href='/tournament?id='+tourney.id, style={'text-decoration':'none', 'color':'black'}) #{tourney.name} 
                        span(style={'color':'grey'}) (#{tourney.id})
                        a(href='/delete?id='+tourney.id, style={'text-decoration':'none', 'color':'grey', 'font-size':'0.9em', 'margin-left':'0.5em'}) obriši
                br
                a(href='/create', style={'text-decoration':'none', 'color':'darkcyan'}) Novo Natjecanje
                a(href='/logout', style={'text-decoration':'none', 'color':'grey','margin-left':'1em'}) Odjava