html 
    head 
        title #{tourney.tourneyInfo.name}
    body
        div(style={'display':'flex', 'justify-content':'center'})
            div(style={'margin':'auto'})
                div
                    div(style={'display':'grid', 'grid-template-columns':'7fr 1fr'})
                        if tourney.owner != tourney.tourneyInfo.creator
                            h1(style={'color':'darkcyan'}) #{tourney.tourneyInfo.name}
                        if tourney.owner == tourney.tourneyInfo.creator
                            h1(style={'color':'darkcyan', 'margin-bottom':'0.1em'}) #{tourney.tourneyInfo.name}
                            a(href='/', style={'text-decoration':'none', 'color':'grey', 'margin':'auto', 'margin-right':'0'}) Povratak
                    if tourney.owner == tourney.tourneyInfo.creator
                        div(style={'margin-bottom':'2em', 'margin-top':'0', 'color':'darkcyan'}) https://web2-lab1-z3q2.onrender.com/tournament?id=#{tourney.id}
                    div(style={'display': 'grid', 'grid-template-columns':'1fr 1fr 1fr 1fr 1fr','grid-row-gap':'5px'})
                        div(style={'font-weight':'bold'}) PLAYER 
                        div(style={'font-weight':'bold', 'text-align':'center'}) W 
                        div(style={'font-weight':'bold', 'text-align':'center'}) D 
                        div(style={'font-weight':'bold', 'text-align':'center'}) L 
                        div(style={'font-weight':'bold', 'text-align':'center'}) PTS 
                        each row in tourney.table
                            div #{row[0]}
                            div(style={'text-align':'center'}) #{row[1][1]}
                            div(style={'text-align':'center'}) #{row[1][2]}
                            div(style={'text-align':'center'}) #{row[1][3]}
                            div(style={'text-align':'center'}) #{row[1][0]}

                br
                div
                    form(action="/edit", method="POST")
                        each round in tourney.matches
                            h4(style={'margin-bottom':'2px'}) Round #{round[0].round}
                            div(style={'display': 'grid', 'grid-template-columns':'4fr 2fr 1fr 2fr 4fr'})
                                each match in round
                                    div #{match.player1}
                                    if tourney.owner == tourney.tourneyInfo.creator 
                                        div
                                            input(type='number', name=match.tourneyid+'-'+match.game+'-H', value=match.score1, style={'width':'5em'})
                                    if tourney.owner != tourney.tourneyInfo.creator
                                        div(style={'text-align':'right'}) #{match.score1}
                                    if match.score1 != null || tourney.owner == tourney.tourneyInfo.creator
                                        div(style={'text-align':'center'}) :
                                    if match.score1 == null && tourney.owner != tourney.tourneyInfo.creator
                                        div(style={'text-align':'center'}) vs
                                    if tourney.owner == tourney.tourneyInfo.creator 
                                        div
                                            input(type='number', name=match.tourneyid+'-'+match.game+'-A', value=match.score2, style={'width':'5em'})
                                    if tourney.owner != tourney.tourneyInfo.creator
                                        div #{match.score2}
                                    div(style={'text-align':'right'}) #{match.player2}
                        if tourney.owner == tourney.tourneyInfo.creator
                            button(type="submit", style={'color':'darkcyan', 'margin-top':'2em'}) Spremi promjene
